@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

.header {
  display: flex;
  top: 0px;
  position: relative;
  background: rgb(20, 20, 20);
  left: 0;
  right: 0;
  align-items: center;
  padding: 0 4%;
}

.Logo {
  width: 151px;
  height: 41px;
  margin-right: 10px;
  -webkit-transition: margin .125s ease;
  transition: margin .125s ease;
}
.Logo svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.Logo svg path {
  fill: #e50914;
  -webkit-transition: fill .125s ease;
  transition: fill .125s ease;
}

/* Navigation */

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.navigation li {
  list-style-type: none;
  margin-left: 18px;
}

.navigation li a {
  position: relative;
  color: #e5e5e5;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

/* Search */

.search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 4%;
  height: 100%;
}

.search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 384px;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
  border: 2px solid #FFF;
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  transition: border .25s ease, width .125s ease .125s;
}

.search input::placeholder {
  color: #FFF;
}

/* Movies list */

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 5px 5px 5px;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.tile {
  display: flex;
  position: relative;
  margin-right: 30px;
  margin-bottom: 10px;
  flex-direction: column;
}